.skills-main-container {
  color: white;
  padding: 5% 15% 5% 15%;
}

.skills-header {
  font-size: calc(12px + 2vmin);
  font-weight: 400;
  margin-bottom: 5%;
}

.skills-content-container {
  margin-left: 15%;
}
.each-skills {
  width: 200px;
  margin-bottom: 5%;
}

ul {
  list-style-type: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  margin-bottom: 1%;
}

.skills-content-container {
  max-width: 1335px;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.each-skills {
  flex-basis: 20%;
  -ms-flex: auto;
  font-weight: lighter;
}

@media screen and (max-width: 992px) {
  .skills-content-container {
    margin-left: 0px;
  }
  .skills-main-container {
    padding-right: 10%;
  }
}

@media (max-width: 1333px) {
  .each-skills {
    flex-basis: 33.33%;
  }
}
@media (max-width: 1073px) {
  .each-skills {
    flex-basis: 33.33%;
  }
}
@media (max-width: 815px) {
  .each-skills {
    flex-basis: 50%;
  }
}
